{% extends'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <h1>{{ produit.Titre }}</h1>
                    <h2>{{ produit.Description }}</h2>
                    <a href="{{ path('mail', {'produit': produit.Id}) }}" class="btn btn-primary">Contactez nous</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Auteur</td>
                        <td>{{ produit.Auteur }}</td>
                    </tr>
                    <tr>
                        <td>Date d'ajout</td>
                        <td>{{ produit.DateAjout|date('d/m/Y') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock%}